<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jbbmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.RegisterScreenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.LoginScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".view.StartScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PreferenceScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ElementScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AlmanacScreenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.ReadQRCodeScreen" android:screenOrientation="portrait"/>
        <activity android:name=".view.RankingScreenActivity" android:screenOrientation="portrait"></activity>

        <service
            android:name=".view.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".view.NotificationIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".view.NotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".controller.AppUpdateReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service android:name=".controller.AppUpdateService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </service>

        <receiver android:name=".controller.ExplorerUpdateReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service android:name=".controller.ExplorerUpdateService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </service>

    </application>

</manifest>